// Responsive breakpoints
$resp-xs: 500;
$resp-s: 600;
$resp-m: 900;
$resp-l: 1200;
$resp-xl: 1400;

// Container width
$container-width: 1200px;

// Colors
$black-color: #0A0A0A;
$lightgrey-color: #F5F6F6;
$grey-color: #9BA4A9;
$border-grey-color: #EBEDEE;
$red-color: #C00D0D;

// Hovers
$black-color-hover: #3B3B3B;
$red-color-hover: #CD3D3D;