.profile {
  &-section {
    background-color: white;
  }

  &-container {
    display: flex;

    @include resp-max("m") {
      flex-direction: column;
    }
  }

  &-tabs {
    min-width: 279px;
    border-right: 1px solid $border-grey-color;
    margin-right: 48px;
    padding: 24px 0;

    @include resp-max("m") {
      margin-right: 0;
      border-right: 0;
    }

    &-links {
      display: flex;
      flex-direction: column;

      a {
        text-decoration: none;
        padding: 16px 0 16px 32px;

        &.active {
          background-color: $lightgrey-color;
          border-radius: 8px;
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
          color: $red-color;
          position: relative;
          overflow: hidden;

          &:after {
            content: "";
            width: 4px;
            height: 100%;
            background-color: $red-color;
            position: absolute;
            top: 0;
            right: 0;
          }
        }
      }
    }
  }

  &-content {
    padding: 32px 0 16px;
    flex-grow: 1;

    @include resp-max("m") {
      padding-top: 0;
    }

    &-line {
      margin: 56px 0;

      &-heading {
        display: flex;
        align-items: center;
        gap: 20px;

        .h5-heading {
          margin-bottom: 0;
        }
      }

      &-name {
        font-weight: 500;
      }
    }

    a:not([class]) {
      color: $red-color;
      text-decoration: none;
      font-weight: 500;
    }

    .table {
      margin-top: 8px;
    }
  }
}

.wish {
  &-item-inner {
    display: flex;
    align-items: center;

    .price-delete {
      width: 20px;
      height: 20px;
      margin-left: 45px;
      background-size: contain;
      background-image: url(../img/icons/action-delete.svg);
      transition: .3s;

      &:hover {
        background-image: url(../img/icons/action-delete-red.svg);
      }
    }
  }

  &-thumb {
    width: 82px;
    height: 82px;
    position: relative;
    margin-right: 16px;
    border-radius: 5px;
    overflow: hidden;

    &-image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &-name {
    margin: 0 0 8px;
    font-size: 18px;
  }

  &-code {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 2px;
  }

  &-final {
    display: flex;
    flex-direction: column;
    margin-right: 48px;

    &-current {
      font-size: 18px;
    }

    &-old {
      font-size: 14px;
    }
  }
}