<!DOCTYPE html>
<html lang="lv">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>

    <link rel="icon" href="img/favicon.png" />
    <link rel="stylesheet" href="styles/base.css" />
    <link rel="stylesheet" href="styles/template-about.css" />
  </head>

  <body class="template-about">
    <header class="header">
      <div class="top-header">
        <div class="container">
          <div class="flexbox-full h-sb">
            <ul class="top-header-list top-header-list-tabs flexbox-full">
              <li class="top-header-list-item private-tab-selector active">Privātpersonām</li>
              <li class="top-header-list-item company-tab-selector">Juridiskām personām</li>
            </ul>
            <ul class="top-header-list top-header-list-links flexbox-full h-sb">
              <li class="top-header-list-item"><a href="">Jaunumi</a></li>
              <li class="top-header-list-item"><a href="">Par mums</a></li>
              <li class="top-header-list-item"><a href="">Kontakti</a></li>
            </ul>
            <ul class="top-header-list top-header-list-links flexbox-full h-e">
              <li class="top-header-list-item">
                <a href="">
                  <img src="img/icons/search.svg" alt="" class="top-header-list-item-image" />
                  Meklēt
                </a>
              </li>
              <li class="top-header-list-item">
                <a href="">
                  <img src="img/icons/login.svg" alt="" class="top-header-list-item-image" />
                  Pieslēgties
                </a>
              </li>
              <li class="top-header-list-item">
                <div class="select">
                  <div class="select-btn" data-type="LV">LV</div>
                  <div class="select-dropdown">
                    <div class="select-option" data-type="EN">English</div>
                    <div class="select-option" data-type="LV">Latviski</div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="main-header">
        <div class="container">
          <div class="flexbox-full main-header-flex">
            <button class="burger-button"></button>
            <div class="main-header-mobile">
              <h4 class="h4-heading center-text">Izvēlne</h4>
              <div class="main-header-mobile-tabs"></div>
              <div class="main-header-mobile-tabs-content"></div>
              <div class="main-header-mobile-links"></div>
            </div>
            <a href="">
              <img src="img/logo-white.svg" class="logo-image" alt="" />
            </a>
            <nav class="main-header-links">
              <ul class="main-header-block-list flexbox-full private-tab-content active h-sb">
                <li class="main-header-block-item"><a href="">Konfigurators</a></li>
                <li class="main-header-block-item"><a href="">Materiāli mēbeļu ražošanai</a></li>
                <li class="main-header-block-item"><a href="">Materiāli celtniecībai</a></li>
                <li class="main-header-block-item"><a href="">Instrumenti un palīgmateriāli</a></li>
              </ul>
              <ul class="main-header-block-list flexbox-full company-tab-content h-sb">
                <li class="main-header-block-item"><a href="">Konfigurators 2</a></li>
                <li class="main-header-block-item"><a href="">Materiāli mēbeļu ražošanai 2</a></li>
                <li class="main-header-block-item"><a href="">Materiāli celtniecībai 2</a></li>
                <li class="main-header-block-item"><a href="">Instrumenti un palīgmateriāli 2</a></li>
              </ul>
            </nav>
            <div class="main-header-icons">
              <ul class="main-header-block-list flexbox-full h-sb">
                <li>
                  <a href=""><img src="img/icons/arrows.svg" alt="" /></a>
                </li>
                <li>
                  <a href=""><img src="img/icons/favourite.svg" alt="" /></a>
                </li>
                <li>
                  <button class="cart-open-button"><img src="img/icons/cart.svg" alt="" /></button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="container">
        <ul class="breadcrumbs">
          <li class="breadcrumbs-item"><a href="">Sākums</a></li>
          <li class="breadcrumbs-item"><a href="">Par mums</a></li>
        </ul>
      </div>
      <div class="about-bg"></div>
      <section class="article-section">
        <div class="container">
          <h3 class="h3-heading">Par mums</h3>
          <p class="text">SIA Kates Plates mēbeļu materiālu tirgū darbojas jau kopš 1997. gada. Uzņēmuma pamatdarbības virziens ir plātņveida materiālu tirdzniecība mēbeļu ražošanai un celtniecībai.</p>
          <p class="text">Uzņēmuma darbības laikā ir strauji pieaudzis piedāvāto produktu klāsts, veicinot uzņēmuma attīstību un ievērojamu tirgus daļas palielināšanu kopš darbības uzsākšanas.</p>
          <p class="text">SIA Kates Plates darbība vērsta gan uz individuālu, gan korporatīvo klientu apkalpošanu, kas ļauj mums nodrošināt augstu servisu un elastīgus apmaksas noteikumus. Lielākajai daļai noliktavā esošo materiālu ir pietiekami liels uzkrājums, kas ļauj mūsu klientiem vajadzīgo preci iegādāties operatīvi.</p>
          <p class="text">SIA Kates Plates mēbeļu ražotājiem piedāvā: skaidu plātnes, laminētas skaidu plātnes, finierētas skaidu plātnes, HDF plātnes, MDF plātnes, finierētas MDF plātnes, gruntētas MDF plātnes, MDF plātnes liektām detaļām (Fibraform), saplāksni, līmētas masīvkoka plātnes (ozols, osis, bērzs, priede, egle) , ozola zāģmateriālus, AGT plātnes, apdares maliņas (dabīga koka, PVC, ABS,), rorskaidu plātnes, Alpi Lignum nažfinierus, plastikātus un līmes. Celtniecības materiālu sortimentā: OSB/3 plātnes, Durelis plātnes, Clic Wall sienas paneļi un sijas.</p>

          <div class="swiper about-photo-slider">
            <div class="swiper-wrapper about-photo-slider-wrapper">
              <div class="swiper-slide about-photo-slider-slide">
                <img src="img/about/about-slide.jpg" class="about-photo-image" alt="" />
              </div>
              <div class="swiper-slide about-photo-slider-slide">
                <img src="img/about/about-slide.jpg" class="about-photo-image" alt="" />
              </div>
              <div class="swiper-slide about-photo-slider-slide">
                <img src="img/about/about-slide.jpg" class="about-photo-image" alt="" />
              </div>
            </div>
          </div>
          <div class="about-photo-slider-nav">
            <div class="swiper-pagination about-photo-slider-pagination"></div>
            <div class="about-photo-slider-buttons">
              <div class="swiper-button-prev about-photo-slider-button-prev"></div>
              <div class="swiper-button-next about-photo-slider-button-next"></div>
            </div>
          </div>
        </div>
      </section>

      <section class="about-features-section">
        <div class="container">
          <h3 class="h3-heading">Fakti</h3>
          <div class="about-features-block flexbox h-se">
            <div class="about-features-item fadeInUp">
              <div class="about-features-item-icon flexbox-full v-c h-c">
                <img src="img/about/about-icon-1.svg" alt="" />
              </div>
              <p class="about-features-item-number">34 000</p>
              <p class="about-features-item-text">Detaļu saražots</p>
            </div>
            <div class="about-features-item fadeInUp">
              <div class="about-features-item-icon flexbox-full v-c h-c">
                <img src="img/about/about-icon-2.svg" alt="" />
              </div>
              <p class="about-features-item-number">89</p>
              <p class="about-features-item-text">Klientu</p>
            </div>
            <div class="about-features-item fadeInUp">
              <div class="about-features-item-icon flexbox-full v-c h-c">
                <img src="img/about/about-icon-3.svg" alt="" />
              </div>
              <p class="about-features-item-number">301</p>
              <p class="about-features-item-text">Projektu realizēts</p>
            </div>
            <div class="about-features-item fadeInUp">
              <div class="about-features-item-icon flexbox-full v-c h-c">
                <img src="img/about/about-icon-4.svg" alt="" />
              </div>
              <p class="about-features-item-number">16</p>
              <p class="about-features-item-text">Gadu tirgū</p>
            </div>
          </div>
        </div>
      </section>

      <section class="about-timeline-section">
        <div class="container">
          <h3 class="h3-heading">Vēsture</h3>

          <div class="swiper about-timeline-slider">
            <div class="about-timeline-slider-buttons">
              <div class="swiper-button-prev about-timeline-slider-button-prev"></div>
              <div class="swiper-button-next about-timeline-slider-button-next"></div>
            </div>
            <div class="swiper-wrapper about-timeline-slider-wrapper">
              <div class="swiper-slide about-timeline-slider-slide">
                <p class="about-timeline-year">1997</p>
                <h5 class="h5-heading">Dibināts uzņēmums</h5>
                <p class="text">SIA Kates Plates mēbeļu materiālu tirgū darbojas jau kopš 1997. gada. Uzņēmuma pamatdarbības virziens ir plātņveida materiālu tirdzniecība mēbeļu ražošanai un celtniecībai.</p>
                <img src="img/about/timeline-1.jpg" class="about-timeline-image" alt="" />
              </div>
              <div class="swiper-slide about-timeline-slider-slide">
                <p class="about-timeline-year">2002</p>
                <h5 class="h5-heading">Paplašināšanās</h5>
                <p class="text">Uzņēmuma darbības laikā ir strauji pieaudzis piedāvāto produktu klāsts, veicinot uzņēmuma attīstību un ievērojamu tirgus daļas palielināšanu kopš darbības uzsākšanas.</p>
                <img src="img/about/timeline-2.jpg" class="about-timeline-image" alt="" />
              </div>
              <div class="swiper-slide about-timeline-slider-slide">
                <p class="about-timeline-year">2004</p>
                <h5 class="h5-heading">Piedāvājums mēbeļu ražotājiem</h5>
                <p class="text">SIA Kates Plates darbība vērsta gan uz individuālu, gan korporatīvo klientu apkalpošanu, kas ļauj mums nodrošināt augstu servisu un elastīgus apmaksas noteikumus.</p>
                <img src="img/about/timeline-3.jpg" class="about-timeline-image" alt="" />
              </div>
              <div class="swiper-slide about-timeline-slider-slide">
                <p class="about-timeline-year">2009</p>
                <h5 class="h5-heading">SAdarbības ar arhitektiem</h5>
                <p class="text">Celtniecības materiālu sortimentā: OSB/3 plātnes, Durelis plātnes, Clic Wall sienas paneļi un sijas.</p>
                <img src="img/about/timeline-4.jpg" class="about-timeline-image" alt="" />
              </div>
              <div class="swiper-slide about-timeline-slider-slide">
                <p class="about-timeline-year">2012</p>
                <h5 class="h5-heading">SAdarbības ar arhitektiem</h5>
                <p class="text">Celtniecības materiālu sortimentā: OSB/3 plātnes, Durelis plātnes, Clic Wall sienas paneļi un sijas.</p>
                <img src="img/about/timeline-4.jpg" class="about-timeline-image" alt="" />
              </div>
              <div class="swiper-slide about-timeline-slider-slide">
                <p class="about-timeline-year">2015</p>
                <h5 class="h5-heading">SAdarbības ar arhitektiem</h5>
                <p class="text">Celtniecības materiālu sortimentā: OSB/3 plātnes, Durelis plātnes, Clic Wall sienas paneļi un sijas.</p>
                <img src="img/about/timeline-4.jpg" class="about-timeline-image" alt="" />
              </div>
              <div class="swiper-slide about-timeline-slider-slide">
                <p class="about-timeline-year">2017</p>
                <h5 class="h5-heading">SAdarbības ar arhitektiem</h5>
                <p class="text">Celtniecības materiālu sortimentā: OSB/3 plātnes, Durelis plātnes, Clic Wall sienas paneļi un sijas.</p>
                <img src="img/about/timeline-4.jpg" class="about-timeline-image" alt="" />
              </div>
              <div class="swiper-slide about-timeline-slider-slide">
                <p class="about-timeline-year">2019</p>
                <h5 class="h5-heading">SAdarbības ar arhitektiem</h5>
                <p class="text">Celtniecības materiālu sortimentā: OSB/3 plātnes, Durelis plātnes, Clic Wall sienas paneļi un sijas.</p>
                <img src="img/about/timeline-4.jpg" class="about-timeline-image" alt="" />
              </div>
              <div class="swiper-slide about-timeline-slider-slide">
                <p class="about-timeline-year">2020</p>
                <h5 class="h5-heading">SAdarbības ar arhitektiem</h5>
                <p class="text">Celtniecības materiālu sortimentā: OSB/3 plātnes, Durelis plātnes, Clic Wall sienas paneļi un sijas.</p>
                <img src="img/about/timeline-4.jpg" class="about-timeline-image" alt="" />
              </div>
              <div class="swiper-slide about-timeline-slider-slide">
                <p class="about-timeline-year">2022</p>
                <h5 class="h5-heading">SAdarbības ar arhitektiem</h5>
                <p class="text">Celtniecības materiālu sortimentā: OSB/3 plātnes, Durelis plātnes, Clic Wall sienas paneļi un sijas.</p>
                <img src="img/about/timeline-4.jpg" class="about-timeline-image" alt="" />
              </div>
            </div>
            <div class="swiper-pagination about-timeline-slider-pagination"></div>
          </div>
        </div>
      </section>

      <div class="cart-popup">
        <div class="cart-popup-top flexbox-full h-sb">
          <h4 class="h4-heading">Grozs</h4>
          <button class="cart-popup-close"></button>
        </div>
        <div class="cart-popup-list">
          <div class="cart-popup-item flexbox-full">
            <div class="cart-popup-item-thumb">
              <img src="img/products/product-1.jpg" class="cart-popup-item-thumb-image" alt="" />
            </div>
            <p class="cart-popup-item-name">Līmēta priede FIX A/A 3000x1200x33</p>
            <div class="cart-popup-item-price">
              <p class="cart-popup-item-price-full">
                <span class="cart-popup-item-final-span">12,00</span>
                €
              </p>
              <p class="cart-popup-item-price-tax">9,48 € + PVN</p>
            </div>
            <div class="cart-popup-item-amount">
              <button class="cart-popup-item-amount-button cart-popup-item-amount-minus">-</button>
              <input type="number" inputmode="numeric" class="cart-popup-item-amount-input" value="1" min="1" max="99" readonly />
              <button class="cart-popup-item-amount-button cart-popup-item-amount-plus">+</button>
            </div>
            <p class="cart-popup-item-final">
              <span class="cart-popup-item-final-span">12,00</span>
              €
            </p>
            <button class="cart-popup-item-remove-button"></button>
          </div>
          <div class="cart-popup-item flexbox-full">
            <div class="cart-popup-item-thumb">
              <img src="img/products/product-2.jpg" class="cart-popup-item-thumb-image" alt="" />
            </div>
            <p class="cart-popup-item-name">Līmēta priede FIX A/A 3000x1200x33</p>
            <div class="cart-popup-item-price">
              <p class="cart-popup-item-price-full"><span class="cart-popup-item-final-span">12,00 €</span></p>
              <p class="cart-popup-item-price-tax">9,48 € + PVN</p>
            </div>
            <div class="cart-popup-item-amount">
              <button class="cart-popup-item-amount-button cart-popup-item-amount-minus">-</button>
              <input type="number" inputmode="numeric" class="cart-popup-item-amount-input" value="1" min="1" max="99" readonly />
              <button class="cart-popup-item-amount-button cart-popup-item-amount-plus">+</button>
            </div>
            <p class="cart-popup-item-final">
              <span class="cart-popup-item-final-span">12,00</span>
              €
            </p>
            <button class="cart-popup-item-remove-button"></button>
          </div>
          <div class="cart-popup-item flexbox-full">
            <div class="cart-popup-item-thumb">
              <img src="img/products/product-3.jpg" class="cart-popup-item-thumb-image" alt="" />
            </div>
            <p class="cart-popup-item-name">Līmēta priede FIX A/A 3000x1200x33</p>
            <div class="cart-popup-item-price">
              <p class="cart-popup-item-price-full">
                <span class="cart-popup-item-price-full-span">12,00</span>
                €
              </p>
              <p class="cart-popup-item-price-tax">9,48 € + PVN</p>
            </div>
            <div class="cart-popup-item-amount">
              <button class="cart-popup-item-amount-button cart-popup-item-amount-minus">-</button>
              <input type="number" inputmode="numeric" class="cart-popup-item-amount-input" value="1" min="1" max="99" readonly />
              <button class="cart-popup-item-amount-button cart-popup-item-amount-plus">+</button>
            </div>
            <p class="cart-popup-item-final">
              <span class="cart-popup-item-final-span">12,00</span>
              €
            </p>
            <button class="cart-popup-item-remove-button"></button>
          </div>
          <div class="cart-popup-item flexbox-full">
            <div class="cart-popup-item-thumb">
              <img src="img/products/product-4.jpg" class="cart-popup-item-thumb-image" alt="" />
            </div>
            <p class="cart-popup-item-name">Līmēta priede FIX A/A 3000x1200x33</p>
            <div class="cart-popup-item-price">
              <p class="cart-popup-item-price-full">
                <span class="cart-popup-item-price-full-span">12,00</span>
                €
              </p>
              <p class="cart-popup-item-price-tax">9,48 € + PVN</p>
            </div>
            <div class="cart-popup-item-amount">
              <button class="cart-popup-item-amount-button cart-popup-item-amount-minus">-</button>
              <input type="number" inputmode="numeric" class="cart-popup-item-amount-input" value="1" min="1" max="99" readonly />
              <button class="cart-popup-item-amount-button cart-popup-item-amount-plus">+</button>
            </div>
            <p class="cart-popup-item-final">
              <span class="cart-popup-item-final-span">12,00</span>
              €
            </p>
            <button class="cart-popup-item-remove-button"></button>
          </div>
        </div>
        <div class="cart-popup-total flexbox-full">
          <div class="cart-popup-total-links">
            <div class="cart-popup-total-links-line">
              <button class="button button-black">Atvērt grozu</button>
            </div>
            <div class="cart-popup-total-links-line">
              <a href="" class="button button-red-fill">Nopirkt</a>
            </div>
          </div>
          <div class="cart-popup-total-price">
            <div class="cart-popup-total-price-line flexbox-full h-sb v-c">
              <p>Cena bez PVN</p>
              <p>31,60 €</p>
            </div>
            <div class="cart-popup-total-price-line flexbox-full h-sb v-c">
              <p>PVN 21%</p>
              <p>8,40 €</p>
            </div>
            <div class="cart-popup-total-price-line flexbox-full h-sb v-c">
              <h5 class="h5-heading">Kopā</h5>
              <h4 class="h4-heading">435,00 €</h4>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="info-message">
          <div class="flexbox-full info-message-block">
            <div class="flexbox-full v-c info-message-top">
              <img src="img/icons/exclamation-circle.svg" alt="" />
              <h6 class="h6-heading">Izmaiņas</h6>
            </div>
            <div class="flexbox-full info-message-text">
              <p>
                Šodien strādājam
                <b class="red">08.00–17.00</b>
              </p>
            </div>
            <div class="flexbox-full flexbox-column info-message-text">
              <p>
                Pirmssvētku dienās
                <b>30. aprīlī</b>
                un
                <b>3. maijā</b>
                plkst.
                <b>8.00 - 20.00</b>
                ;
              </p>
              <p>
                Svētku dienās
                <b>1. maijā</b>
                un
                <b>4. maijā - Slēgts</b>
              </p>
            </div>
            <button class="button button-red-fill info-message-close-button">Aizvērt</button>
          </div>
        </div>
      </div>
      <section class="newsletter-section">
        <div class="container">
          <div class="flexbox-full flexbox--grid">
            <div class="col col-50 col-m-full">
              <h4 class="h4-heading">Seko jaunumiem</h4>
              <p class="text">Pieraksties, lai uzzinātu par jaunākajiem piedāvājumiem.</p>
            </div>
            <div class="col col-50 col-m-full flexbox-full h-e v-c">
              <form action="" class="form newsletter-form">
                <input type="email" placeholder="Jūsu e-pasts" class="form-text-input" />
                <input type="submit" class="button button-red-fill" value="Pierakstīties" />
              </form>
            </div>
          </div>
        </div>
      </section>
      <section class="eu-note-section center-text">
        <div class="container">
          <p class="text">SIA ,, Kates plates,, ir noslēdzis 23.08.2021. līgumu Nr. SKV-L-2021/259 ar Latvijas Investīciju un attīstības aģentūru par atbalsta saņemšanu pasākuma ,, Starptautiskās konkurētspējas veicināšana,, ietvaros, ko līdzfinansē Eiropas Reģionālās attīstības fonds</p>
          <img src="img/eu-note.png" class="eu-note-image" alt="EU note" />
        </div>
      </section>
      <section class="main-footer">
        <div class="container">
          <div class="flexbox-full flexbox--grid">
            <div class="col col-33 col-m-full flexbox-full flexbox-column">
              <img src="img/logo-white.svg" class="logo-image" alt="" />
              <div class="social-links-block flexbox-full v-c">
                <a href="" class="social-links-link"><img src="img/icons/facebook.svg" alt="Facebook icon" /></a>
                <a href="" class="social-links-link"><img src="img/icons/instagram.svg" alt="Instagram icon" /></a>
                <a href="" class="social-links-link"><img src="img/icons/youtube.svg" alt="Youtube icon" /></a>
                <a href="" class="social-links-link"><img src="img/icons/linkedin.svg" alt="Linkedin icon" /></a>
              </div>
            </div>
            <div class="col col-33 col-m-full">
              <div class="main-footer-block">
                <h6 class="h6-heading">BIROJA/NOLIKTAVAS ADRESE</h6>
                <p class="text">Uriekstes iela 2c, Rīga, LV-1005, Latvija</p>
              </div>
              <div class="main-footer-block">
                <h6 class="h6-heading">Darba laiks</h6>
                <p class="text">Pirmdiena – piektdiena 9:00 – 18:00</p>
              </div>
              <div class="main-footer-block">
                <h6 class="h6-heading">E-pasts</h6>
                <p class="text"><a href="mailto:plates@katesplates.lv">plates@katesplates.lv</a></p>
              </div>
              <a href="" class="arrow-link">Visi kontakti</a>
            </div>
            <div class="col col-33 col-m-full">
              <h6 class="h6-heading">REKVIZĪTI</h6>
              <p class="text">
                Kates Plates, SIA
                <br />
                PVN maksātāja Nr: LV 40003355395 Banka: AS “SWEDBANK”, SWIFT kods: HABALV22
                <br />
                Bankas konts:
                <br />
                LV05HABA0001408051455
                <br />
                Juridiskā adrese: Uriekstes iela 2c, Rīga, LV-1005, Latvija
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="legal-footer">
        <div class="container">
          <div class="flexbox-full flexbox--grid h-sb">
            <div class="col col-m-full flexbox-full v-c h-c-m">
              <p class="text">© 2022 SIA Kates plates. Visas tiesības aizsargātas.</p>
            </div>
            <div class="col col-m-full flexbox-full v-c h-c">
              <img src="img/caballero-logo.png" class="logo-image" alt="Caballero digital agency" />
            </div>
            <div class="col col-m-full flexbox-full v-c h-c-m">
              <div class="legal-links-block flexbox-full">
                <a href="" class="legal-links-link">Distances līgums</a>
                <a href="" class="legal-links-link">Privātuma politika</a>
                <a href="" class="legal-links-link">Sīkdatņu politika</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </footer>
    <script src="js/app.js"></script>
  </body>
</html>
