<!DOCTYPE html>
<html lang="lv">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>

    <link rel="icon" href="img/favicon.png" />
    <link rel="stylesheet" href="styles/base.css" />
    <link rel="stylesheet" href="styles/template-home.css" />
  </head>

  <body class="template-home header-overlay">
    <header class="header">
      <div class="top-header">
        <div class="container">
          <div class="flexbox-full h-sb">
            <ul class="top-header-list top-header-list-tabs flexbox-full">
              <li class="top-header-list-item private-tab-selector active">Privātpersonām</li>
              <li class="top-header-list-item company-tab-selector">Juridiskām personām</li>
            </ul>
            <ul class="top-header-list top-header-list-links flexbox-full h-sb">
              <li class="top-header-list-item"><a href="/news.html">Jaunumi</a></li>
              <li class="top-header-list-item"><a href="/about.html">Par mums</a></li>
              <li class="top-header-list-item"><a href="/contact.html">Kontakti</a></li>
            </ul>
            <ul class="top-header-list top-header-list-links flexbox-full h-e">
              <li class="top-header-list-item">
                <a href=""><img src="img/icons/search.svg" alt="" class="top-header-list-item-image" />Meklēt</a>
              </li>
              <li class="top-header-list-item">
                <a href="/profile-overview.html"><img src="img/icons/login.svg" alt="" class="top-header-list-item-image" />Pieslēgties</a>
              </li>
              <li class="top-header-list-item">
                <div class="select">
                  <div class="select-btn" data-type="LV">LV</div>
                  <div class="select-dropdown">
                    <div class="select-option" data-type="EN">English</div>
                    <div class="select-option" data-type="LV">Latviski</div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="main-header">
        <div class="container">
          <div class="flexbox-full main-header-flex">
            <button class="burger-button"></button>
            <div class="main-header-mobile">
              <h4 class="h4-heading center-text">Izvēlne</h4>
              <div class="main-header-mobile-tabs"></div>
              <div class="main-header-mobile-tabs-content"></div>
              <div class="main-header-mobile-links"></div>
            </div>
            <a href="/">
              <img src="img/logo-white.svg" class="logo-image" alt="" />
            </a>
            <nav class="main-header-links">
              <ul class="main-header-block-list flexbox-full private-tab-content active h-sb">
                <li class="main-header-block-item"><a href="">Konfigurators</a></li>
                <li class="main-header-block-item"><a href="/material.html">Materiāli mēbeļu ražošanai</a></li>
                <li class="main-header-block-item"><a href="/material.html">Materiāli celtniecībai</a></li>
                <li class="main-header-block-item"><a href="/material.html">Instrumenti un palīgmateriāli</a></li>
              </ul>
              <ul class="main-header-block-list flexbox-full company-tab-content h-sb">
                <li class="main-header-block-item"><a href="">Konfigurators 2</a></li>
                <li class="main-header-block-item"><a href="">Materiāli mēbeļu ražošanai 2</a></li>
                <li class="main-header-block-item"><a href="">Materiāli celtniecībai 2</a></li>
                <li class="main-header-block-item"><a href="">Instrumenti un palīgmateriāli 2</a></li>
              </ul>
            </nav>
            <div class="main-header-icons">
              <ul class="main-header-block-list flexbox-full h-sb">
                <li>
                  <a href=""><img src="img/icons/arrows.svg" alt="" /></a>
                </li>
                <li>
                  <a href=""><img src="img/icons/favourite.svg" alt="" /></a>
                </li>
                <li>
                  <button class="cart-open-button"><img src="img/icons/cart.svg" alt="" /></button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="swiper main-slider">
        <div class="swiper-wrapper main-wrapper">
          <div class="swiper-slide main-slider-slide">
            <div class="main-slider-slide-block">
              <h1 class="h1-heading animate__animated animate__fadeInUp">Plātņu materiāli mēbelēm un celtniecībai</h1>
              <p class="text animate__animated animate__fadeInUp">Uzņēmuma pamatdarbības virziens ir plātņveida materiālu tirdzniecība mēbeļu ražošanai un celtniecībai.</p>
              <a href="" class="button button-red-fill animate__animated animate__fadeInUp">Katalogs</a>
            </div>
            <img src="img/homepage/slider-img.jpg" class="main-slider-slide-image" alt="" />
          </div>
          <div class="swiper-slide main-slider-slide">
            <div class="main-slider-slide-block">
              <h2 class="h1-heading animate__animated animate__fadeInUp">Plātņu materiāli mēbelēm un celtniecībai</h2>
              <p class="text animate__animated animate__animated animate__fadeInUp">Uzņēmuma pamatdarbības virziens ir plātņveida materiālu tirdzniecība mēbeļu ražošanai un celtniecībai.</p>
              <a href="" class="button button-red-fill animate__animated animate__fadeInUp">Katalogs</a>
            </div>
            <img src="img/homepage/slider-img.jpg" class="main-slider-slide-image" alt="" />
          </div>
          <div class="swiper-slide main-slider-slide">
            <div class="main-slider-slide-block">
              <h2 class="h1-heading animate__animated animate__fadeInUp">Plātņu materiāli mēbelēm un celtniecībai</h2>
              <p class="text animate__animated animate__fadeInUp">Uzņēmuma pamatdarbības virziens ir plātņveida materiālu tirdzniecība mēbeļu ražošanai un celtniecībai.</p>
              <a href="" class="button button-red-fill animate__animated animate__fadeInUp">Katalogs</a>
            </div>
            <img src="img/homepage/slider-img.jpg" class="main-slider-slide-image" alt="" />
          </div>
        </div>
        <div class="swiper-pagination main-slider-pagination"></div>
      </div>

      <section class="home-constructor-section">
        <div class="container">
          <div class="flexbox-full flexbox--grid">
            <div class="col col-33 col-m-full">
              <div class="home-constructor-block fadeInUp">
                <h3 class="h3-heading">Izveido Sev Nepieciešamo plātni <span class="red">un pasūti jau šodien</span></h3>
                <p class="text">Plātņu konstruktorā ievadi sev nepieciešamos parametrus un pasūtījums tiks automātiski konfigurēts atbilstoši izvēlētajam materiālam, formai un izmēram.</p>
                <a href="" class="button button-red-fill">Konfigurēt</a>
              </div>
            </div>
            <div class="home-constructor-pictures">
              <div class="home-constructor-image animate__animated animate__fadeInRight">
                <img src="img/homepage/home-desc-1.jpg" alt="" />
              </div>
              <div class="home-constructor-image animate__animated animate__fadeInRight">
                <img src="img/homepage/home-desc-2.jpg" alt="" />
              </div>
              <div class="home-constructor-image animate__animated animate__fadeInRight">
                <img src="img/homepage/home-desc-3.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="home-product-section">
        <div class="container">
          <h3 class="h3-heading center-text">Produkti</h3>
          <div class="swiper product-slider">
            <div class="swiper-wrapper product-slider-wrapper">
              <div class="swiper-slide product-slider-slide">
                <div class="product-block fadeInUp">
                  <a href="/product.html" class="product-block-top">
                    <span class="product-block-top-badge">
                      <span class="product-block-top-badge-item">Akcija</span>
                    </span>
                    <img src="img/products/product-1.jpg" class="product-block-top-image" alt="" />
                  </a>
                  <div class="product-block-text">
                    <button class="product-block-fav"></button>
                    <a href="/product.html" class="product-block-name">MDF plātnes, FSC 100%, 2800x2070x12</a>
                    <div class="product-block-desc">
                      <span class="product-block-desc-line">SKU: 02.CA-13.12009</span>
                      <span class="product-block-desc-line">Ražotāja kods: RO 013</span>
                    </div>
                    <div class="product-block-price flexbox-full h-sb">
                      <div class="product-block-price-current">
                        <p class="product-block-price-full">12,00 €</p>
                        <p class="product-block-price-tax">9,48 € + PVN</p>
                      </div>
                      <div class="product-block-price-old">
                        <p class="product-block-price-full">15,00 €</p>
                        <p class="product-block-price-tax">12,48 € + PVN</p>
                      </div>
                    </div>
                    <p class="product-block-stock product-block-stock-in">Ir noliktavā</p>
                    <button class="button button-red-fill button-add-cart">Ielikt grozā</button>
                    <a href="" class="product-block-compare-link">Pievienot salīdzināšanai</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide product-slider-slide">
                <div class="product-block fadeInUp">
                  <a href="/product.html" class="product-block-top">
                    <span class="product-block-top-badge">
                      <span class="product-block-top-badge-item">Akcija</span>
                    </span>
                    <img src="img/products/product-2.jpg" class="product-block-top-image" alt="" />
                  </a>
                  <div class="product-block-text">
                    <button class="product-block-fav"></button>
                    <a href="/product.html" class="product-block-name">Smoked Oak Alpi nažfinieri</a>
                    <div class="product-block-desc">
                      <span class="product-block-desc-line">SKU: 02.CA-13.12009</span>
                      <span class="product-block-desc-line">Ražotāja kods: RO 013</span>
                    </div>
                    <div class="product-block-price flexbox-full h-sb">
                      <div class="product-block-price-current">
                        <p class="product-block-price-full">12,00 €</p>
                        <p class="product-block-price-tax">9,48 € + PVN</p>
                      </div>
                      <div class="product-block-price-old">
                        <p class="product-block-price-full">15,00 €</p>
                        <p class="product-block-price-tax">12,48 € + PVN</p>
                      </div>
                    </div>
                    <p class="product-block-stock product-block-stock-in">Ir noliktavā</p>
                    <button class="button button-red-fill button-add-cart">Ielikt grozā</button>
                    <a href="" class="product-block-compare-link">Pievienot salīdzināšanai</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide product-slider-slide">
                <div class="product-block fadeInUp">
                  <a href="/product.html" class="product-block-top">
                    <span class="product-block-top-badge">
                      <span class="product-block-top-badge-item">Akcija</span>
                    </span>
                    <img src="img/products/product-3.jpg" class="product-block-top-image" alt="" />
                  </a>
                  <div class="product-block-text">
                    <button class="product-block-fav"></button>
                    <a href="/product.html" class="product-block-name">OSB/3, celtniecības plātnes, 2500x1250x8</a>
                    <div class="product-block-desc">
                      <span class="product-block-desc-line">SKU: 02.CA-13.12009</span>
                      <span class="product-block-desc-line">Ražotāja kods: RO 013</span>
                    </div>
                    <div class="product-block-price flexbox-full h-sb">
                      <div class="product-block-price-current">
                        <p class="product-block-price-full">12,00 €</p>
                        <p class="product-block-price-tax">9,48 € + PVN</p>
                      </div>
                      <div class="product-block-price-old">
                        <p class="product-block-price-full">15,00 €</p>
                        <p class="product-block-price-tax">12,48 € + PVN</p>
                      </div>
                    </div>
                    <p class="product-block-stock product-block-stock-in">Ir noliktavā</p>
                    <button class="button button-red-fill button-add-cart">Ielikt grozā</button>
                    <a href="" class="product-block-compare-link">Pievienot salīdzināšanai</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide product-slider-slide">
                <div class="product-block fadeInUp">
                  <a href="/product.html" class="product-block-top">
                    <span class="product-block-top-badge">
                      <span class="product-block-top-badge-item">Akcija</span>
                    </span>
                    <img src="img/products/product-4.jpg" class="product-block-top-image" alt="" />
                  </a>
                  <div class="product-block-text">
                    <button class="product-block-fav"></button>
                    <a href="/product.html" class="product-block-name">Līmēta priede FIX A/A 3000x1200x33</a>
                    <div class="product-block-desc">
                      <span class="product-block-desc-line">SKU: 02.CA-13.12009</span>
                      <span class="product-block-desc-line">Ražotāja kods: RO 013</span>
                    </div>
                    <div class="product-block-price flexbox-full h-sb">
                      <div class="product-block-price-current">
                        <p class="product-block-price-full">12,00 €</p>
                        <p class="product-block-price-tax">9,48 € + PVN</p>
                      </div>
                      <div class="product-block-price-old">
                        <p class="product-block-price-full">15,00 €</p>
                        <p class="product-block-price-tax">12,48 € + PVN</p>
                      </div>
                    </div>
                    <p class="product-block-stock product-block-stock-in">Ir noliktavā</p>
                    <button class="button button-red-fill button-add-cart">Ielikt grozā</button>
                    <a href="" class="product-block-compare-link">Pievienot salīdzināšanai</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination product-slider-pagination"></div>

            <div class="swiper-button-prev product-slider-button-prev"></div>
            <div class="swiper-button-next product-slider-button-next"></div>
          </div>
          <div class="home-product-button">
            <a href="/catalog.html" class="button button-black">Katalogs</a>
          </div>
        </div>
      </section>

      <section class="home-article-section">
        <div class="container">
          <h3 class="h3-heading center-text">Jaunumi</h3>
          <div class="flexbox-full flexbox--grid">
            <div class="col col-33 col-l-full">
              <div class="article-block fadeInUp">
                <a href="/news-single.html" class="article-block-top">
                  <img src="img/homepage/article-1.jpg" class="article-block-top-image" alt="" />
                </a>
                <div class="article-block-date">
                  <span class="article-block-day">12</span>
                  <span class="article-block-month">Dec</span>
                </div>
                <div class="article-block-text">
                  <a href="/news-single.html" class="h5-heading">Tīrīšanas līdzekļi</a>
                  <p class="text">SIA Kates Plates mēbeļu materiālu tirgū darbojas jau kopš 1997. gada. Uzņēmuma pamatdarbības virziens ir plātņveida materiālu tirdzniecība mēbeļu ražošanai un...</p>
                  <a href="/news-single.html" class="arrow-link">Lasīt vairāk</a>
                </div>
              </div>
            </div>
            <div class="col col-33 col-l-full">
              <div class="article-block fadeInUp">
                <a href="/news-single.html" class="article-block-top">
                  <img src="img/homepage/article-2.jpg" class="article-block-top-image" alt="" />
                </a>
                <div class="article-block-date">
                  <span class="article-block-day">25</span>
                  <span class="article-block-month">Nov</span>
                </div>
                <div class="article-block-text">
                  <a href="/news-single.html" class="h5-heading">Festool kāta slīpmašīna</a>
                  <p class="text">SIA Kates Plates mēbeļu materiālu tirgū darbojas jau kopš 1997. gada. Uzņēmuma pamatdarbības virziens ir plātņveida materiālu tirdzniecība mēbeļu ražošanai un...</p>
                  <a href="/news-single.html" class="arrow-link">Lasīt vairāk</a>
                </div>
              </div>
            </div>
            <div class="col col-33 col-l-full">
              <div class="article-block fadeInUp">
                <a href="/news-single.html" class="article-block-top">
                  <img src="img/homepage/article-3.jpg" class="article-block-top-image" alt="" />
                </a>
                <div class="article-block-date">
                  <span class="article-block-day">04</span>
                  <span class="article-block-month">Okt</span>
                </div>
                <div class="article-block-text">
                  <a href="/news-single.html" class="h5-heading">Maliņu izpārdošana</a>
                  <p class="text">SIA Kates Plates mēbeļu materiālu tirgū darbojas jau kopš 1997. gada. Uzņēmuma pamatdarbības virziens ir plātņveida materiālu tirdzniecība mēbeļu ražošanai un...</p>
                  <a href="/news-single.html" class="arrow-link">Lasīt vairāk</a>
                </div>
              </div>
            </div>
          </div>
          <div class="home-article-button">
            <a href="/news.html" class="button button-black">Visi jaunumi</a>
          </div>
        </div>
      </section>

      <section class="home-about-section">
        <div class="container">
          <div class="flexbox-full flexbox--grid">
            <div class="col col-33 col-m-full">
              <div class="home-about-block">
                <h2 class="h2-heading">Par mums</h2>
                <p class="text">SIA Kates Plates mēbeļu materiālu tirgū darbojas jau kopš 1997. gada. Uzņēmuma pamatdarbības virziens ir plātņveida materiālu tirdzniecība mēbeļu ražošanai un celtniecībai.</p>
                <a href="/about.html" class="button button-red-fill">Lasīt vairāk</a>
              </div>
            </div>
          </div>
        </div>
        <div class="home-about-bg"></div>
      </section>

      <section class="home-features-section center-text">
        <div class="container">
          <h3 class="h3-heading">Mūsu vērtības</h3>
          <div class="home-features-block flexbox h-c">
            <div class="home-features-item fadeInUp">
              <div class="home-features-item-icon flexbox-full v-c h-c">
                <img src="img/icons/feature-1.svg" alt="" />
              </div>
              <p class="home-features-item-text">Pieredze</p>
            </div>
            <div class="home-features-item fadeInUp">
              <div class="home-features-item-icon flexbox-full v-c h-c">
                <img src="img/icons/feature-2.svg" alt="" />
              </div>
              <p class="home-features-item-text">Uzticība</p>
            </div>
            <div class="home-features-item fadeInUp">
              <div class="home-features-item-icon flexbox-full v-c h-c">
                <img src="img/icons/feature-3.svg" alt="" />
              </div>
              <p class="home-features-item-text">Stabilitāte</p>
            </div>
            <div class="home-features-item fadeInUp">
              <div class="home-features-item-icon flexbox-full v-c h-c">
                <img src="img/icons/feature-4.svg" alt="" />
              </div>
              <p class="home-features-item-text">Izcils serviss</p>
            </div>
            <div class="home-features-item fadeInUp">
              <div class="home-features-item-icon flexbox-full v-c h-c">
                <img src="img/icons/feature-5.svg" alt="" />
              </div>
              <p class="home-features-item-text">Rūpes par vidi</p>
            </div>
          </div>
        </div>
      </section>

      <div class="cart-popup">
        <div class="cart-popup-top flexbox-full h-sb">
          <h4 class="h4-heading">Grozs</h4>
          <button class="cart-popup-close"></button>
        </div>
        <div class="cart-popup-list">
          <div class="cart-popup-item flexbox-full">
            <div class="cart-popup-item-thumb">
              <img src="img/products/product-1.jpg" class="cart-popup-item-thumb-image" alt="" />
            </div>
            <p class="cart-popup-item-name">Līmēta priede FIX A/A 3000x1200x33</p>
            <div class="cart-popup-item-price">
              <p class="cart-popup-item-price-full"><span class="cart-popup-item-final-span">12,00</span> €</p>
              <p class="cart-popup-item-price-tax">9,48 € + PVN</p>
            </div>
            <div class="cart-popup-item-amount">
              <button class="cart-popup-item-amount-button cart-popup-item-amount-minus">-</button>
              <input type="number" inputmode="numeric" class="cart-popup-item-amount-input" value="1" min="1" max="99" readonly />
              <button class="cart-popup-item-amount-button cart-popup-item-amount-plus">+</button>
            </div>
            <p class="cart-popup-item-final"><span class="cart-popup-item-final-span">12,00</span> €</p>
            <button class="cart-popup-item-remove-button"></button>
          </div>
          <div class="cart-popup-item flexbox-full">
            <div class="cart-popup-item-thumb">
              <img src="img/products/product-2.jpg" class="cart-popup-item-thumb-image" alt="" />
            </div>
            <p class="cart-popup-item-name">Līmēta priede FIX A/A 3000x1200x33</p>
            <div class="cart-popup-item-price">
              <p class="cart-popup-item-price-full"><span class="cart-popup-item-final-span">12,00 €</span></p>
              <p class="cart-popup-item-price-tax">9,48 € + PVN</p>
            </div>
            <div class="cart-popup-item-amount">
              <button class="cart-popup-item-amount-button cart-popup-item-amount-minus">-</button>
              <input type="number" inputmode="numeric" class="cart-popup-item-amount-input" value="1" min="1" max="99" readonly />
              <button class="cart-popup-item-amount-button cart-popup-item-amount-plus">+</button>
            </div>
            <p class="cart-popup-item-final"><span class="cart-popup-item-final-span">12,00</span> €</p>
            <button class="cart-popup-item-remove-button"></button>
          </div>
          <div class="cart-popup-item flexbox-full">
            <div class="cart-popup-item-thumb">
              <img src="img/products/product-3.jpg" class="cart-popup-item-thumb-image" alt="" />
            </div>
            <p class="cart-popup-item-name">Līmēta priede FIX A/A 3000x1200x33</p>
            <div class="cart-popup-item-price">
              <p class="cart-popup-item-price-full"><span class="cart-popup-item-price-full-span">12,00</span> €</p>
              <p class="cart-popup-item-price-tax">9,48 € + PVN</p>
            </div>
            <div class="cart-popup-item-amount">
              <button class="cart-popup-item-amount-button cart-popup-item-amount-minus">-</button>
              <input type="number" inputmode="numeric" class="cart-popup-item-amount-input" value="1" min="1" max="99" readonly />
              <button class="cart-popup-item-amount-button cart-popup-item-amount-plus">+</button>
            </div>
            <p class="cart-popup-item-final"><span class="cart-popup-item-final-span">12,00</span> €</p>
            <button class="cart-popup-item-remove-button"></button>
          </div>
          <div class="cart-popup-item flexbox-full">
            <div class="cart-popup-item-thumb">
              <img src="img/products/product-4.jpg" class="cart-popup-item-thumb-image" alt="" />
            </div>
            <p class="cart-popup-item-name">Līmēta priede FIX A/A 3000x1200x33</p>
            <div class="cart-popup-item-price">
              <p class="cart-popup-item-price-full"><span class="cart-popup-item-price-full-span">12,00</span> €</p>
              <p class="cart-popup-item-price-tax">9,48 € + PVN</p>
            </div>
            <div class="cart-popup-item-amount">
              <button class="cart-popup-item-amount-button cart-popup-item-amount-minus">-</button>
              <input type="number" inputmode="numeric" class="cart-popup-item-amount-input" value="1" min="1" max="99" readonly />
              <button class="cart-popup-item-amount-button cart-popup-item-amount-plus">+</button>
            </div>
            <p class="cart-popup-item-final"><span class="cart-popup-item-final-span">12,00</span> €</p>
            <button class="cart-popup-item-remove-button"></button>
          </div>
        </div>
        <div class="cart-popup-total flexbox-full">
          <div class="cart-popup-total-links">
            <div class="cart-popup-total-links-line">
              <button class="button button-black">Atvērt grozu</button>
            </div>
            <div class="cart-popup-total-links-line">
              <a href="/checkout.html" class="button button-red-fill">Nopirkt</a>
            </div>
          </div>
          <div class="cart-popup-total-price">
            <div class="cart-popup-total-price-line flexbox-full h-sb v-c">
              <p>Cena bez PVN</p>
              <p>31,60 €</p>
            </div>
            <div class="cart-popup-total-price-line flexbox-full h-sb v-c">
              <p>PVN 21%</p>
              <p>8,40 €</p>
            </div>
            <div class="cart-popup-total-price-line flexbox-full h-sb v-c">
              <h5 class="h5-heading">Kopā</h5>
              <h4 class="h4-heading">435,00 €</h4>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="info-message">
          <div class="flexbox-full info-message-block">
            <div class="flexbox-full v-c info-message-top">
              <img src="img/icons/exclamation-circle.svg" alt="" />
              <h6 class="h6-heading">Izmaiņas</h6>
            </div>
            <div class="flexbox-full info-message-text">
              <p>Šodien strādājam <b class="red">08.00–17.00</b></p>
            </div>
            <div class="flexbox-full flexbox-column info-message-text">
              <p>Pirmssvētku dienās <b>30. aprīlī</b> un <b>3. maijā</b> plkst. <b>8.00 - 20.00</b>;</p>
              <p>Svētku dienās <b>1. maijā</b> un <b>4. maijā - Slēgts</b></p>
            </div>
            <button class="button button-red-fill info-message-close-button">Aizvērt</button>
          </div>
        </div>
      </div>
      <section class="newsletter-section">
        <div class="container">
          <div class="flexbox-full flexbox--grid">
            <div class="col col-50 col-m-full">
              <h4 class="h4-heading">Seko jaunumiem</h4>
              <p class="text">Pieraksties, lai uzzinātu par jaunākajiem piedāvājumiem.</p>
            </div>
            <div class="col col-50 col-m-full flexbox-full h-e v-c">
              <form action="" class="form newsletter-form">
                <input type="email" placeholder="Jūsu e-pasts" class="form-text-input" />
                <input type="submit" class="button button-red-fill" value="Pierakstīties" />
              </form>
            </div>
          </div>
        </div>
      </section>
      <section class="eu-note-section center-text">
        <div class="container">
          <p class="text">SIA ,, Kates plates,, ir noslēdzis 23.08.2021. līgumu Nr. SKV-L-2021/259 ar Latvijas Investīciju un attīstības aģentūru par atbalsta saņemšanu pasākuma ,, Starptautiskās konkurētspējas veicināšana,, ietvaros, ko līdzfinansē Eiropas Reģionālās attīstības fonds</p>
          <img src="img/eu-note.png" class="eu-note-image" alt="EU note" />
        </div>
      </section>
      <section class="main-footer">
        <div class="container">
          <div class="flexbox-full flexbox--grid">
            <div class="col col-33 col-m-full flexbox-full flexbox-column">
              <img src="img/logo-white.svg" class="logo-image" alt="" />
              <div class="social-links-block flexbox-full v-c">
                <a href="" class="social-links-link"><img src="img/icons/facebook.svg" alt="Facebook icon" /></a>
                <a href="" class="social-links-link"><img src="img/icons/instagram.svg" alt="Instagram icon" /></a>
                <a href="" class="social-links-link"><img src="img/icons/youtube.svg" alt="Youtube icon" /></a>
                <a href="" class="social-links-link"><img src="img/icons/linkedin.svg" alt="Linkedin icon" /></a>
              </div>
            </div>
            <div class="col col-33 col-m-full">
              <div class="main-footer-block">
                <h6 class="h6-heading">BIROJA/NOLIKTAVAS ADRESE</h6>
                <p class="text">Uriekstes iela 2c, Rīga, LV-1005, Latvija</p>
              </div>
              <div class="main-footer-block">
                <h6 class="h6-heading">Darba laiks</h6>
                <p class="text">Pirmdiena – piektdiena 9:00 – 18:00</p>
              </div>
              <div class="main-footer-block">
                <h6 class="h6-heading">E-pasts</h6>
                <p class="text"><a href="mailto:plates@katesplates.lv">plates@katesplates.lv</a></p>
              </div>
              <a href="/contact.html" class="arrow-link">Visi kontakti</a>
            </div>
            <div class="col col-33 col-m-full">
              <h6 class="h6-heading">REKVIZĪTI</h6>
              <p class="text">
                Kates Plates, SIA<br />
                PVN maksātāja Nr: LV 40003355395 Banka: AS “SWEDBANK”, SWIFT kods: HABALV22<br />
                Bankas konts:<br />
                LV05HABA0001408051455<br />
                Juridiskā adrese: Uriekstes iela 2c, Rīga, LV-1005, Latvija
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="legal-footer">
        <div class="container">
          <div class="flexbox-full flexbox--grid h-sb">
            <div class="col col-m-full flexbox-full v-c h-c-m">
              <p class="text">© 2022 SIA Kates plates. Visas tiesības aizsargātas.</p>
            </div>
            <div class="col col-m-full flexbox-full v-c h-c">
              <img src="img/caballero-logo.png" class="logo-image" alt="Caballero digital agency" />
            </div>
            <div class="col col-m-full flexbox-full v-c h-c-m">
              <div class="legal-links-block flexbox-full">
                <a href="" class="legal-links-link">Distances līgums</a>
                <a href="" class="legal-links-link">Privātuma politika</a>
                <a href="" class="legal-links-link">Sīkdatņu politika</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </footer>
    <script src="js/app.js"></script>
  </body>
</html>
