@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=Roboto:wght@400;500;700&display=swap");

// Config
@import "../config/";

// Vendor

// Layout
@import "../layout/";

// Partial
// product start
.product-slider {
  .product-slider-button-prev,
  .product-slider-button-next {
    display: none;
    color: $black-color;
    top: auto;
    bottom: 0;

    @include resp-max("l") {
      display: inline-block;
    }

    &:after {
      font-size: 20px;
    }
  }

  .swiper-pagination .swiper-pagination-bullet {
    background-color: $black-color;
  }

  .swiper-pagination .swiper-pagination-bullet-active {
    border-color: $black-color;
    background-color: white;
  }

  .product-slider-slide {
    // shadows overlay fix
    display: flex;
    justify-content: center;

    @include resp-max("s") {
      width: 80%;
    }
  }
}
// product end
