// article start
.article-block {
  background-color: white;
  border-radius: 6px;
  position: relative;
  max-width: 384px;
  margin: 0 auto;

  @include last-text;

  &:hover {
    .article-block-top-image {
      transform: scale(1.1) translate(-50%, -50%);
    }

    .h5-heading {
      color: $red-color;
    }
  }

  &-top {
    position: relative;
    height: 192px;
    border-radius: 8px;
    overflow: hidden;
    display: block;

    &-image {
      position: absolute;
      height: 100%;
      transition: .3s;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform-origin: top left;

      @include resp-max("l") {
        width: auto;
        max-width: unset;
        height: 100%;
      }
    }
  }

  &-date {
    position: absolute;
    top: 0;
    left: 18px;
    background-color: white;
    border-radius: 0px 0px 8px 8px;
    padding: 14px 20px;
  }

  &-day {
    display: block;
    font-size: 24px;
    font-weight: 700;
  }

  &-text {
    padding: 32px 24px 36px;
  }

  .h5-heading {
    color: $black-color;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
  }

  @media (max-width: 1366px) {
    max-width: 360px;
  }

  @include resp-max("l") {
    margin-bottom: 24px;
  }
}

// article end