.catalog-block {
    &-item {
        position: relative;
        overflow: hidden;
        border-radius: 8px;

        &:before {
            content: "";
            background-color: $black-color;
            opacity: .3;
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            transition: .3s;
        }

        &:hover {
            &:before {
                opacity: .5;
            }

            .catalog-block-item-image {
                transform: scale(1.1);
            }
        }

        &-text {
            position: absolute;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            padding: 0 20px;

            .h3-heading,
            .arrow-link {
                color: white;
            }

            .arrow-link:after {
                background-image: url(../img/icons/white-right-arrow.svg);
            }
        }

        &-image {
            transition: .3s;
            @include resp-max("m") {
                width: 100%;
            }
        }

        @include resp-max("m") {
            margin-bottom: 12px;
        }
    }
}

.catalog-production {
    &-section {
        padding: 40px 0;
        background-color: white;
        position: relative;
        overflow: hidden;
    }

    &-pictures {
        position: absolute;
        right: 0;
        top: 0;

        @include resp-max("l") {
            position: static;
            margin-top: 24px;
        }
    }

    &-text {
        .h3-heading {
            margin-bottom: 24px;
        }

        .arrow-link {
            margin-top: 12px;
        }
    }
}