.material-item {
  background-color: white;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  text-decoration: none;
  display: flex;

  &-image {
    position: relative;
    min-width: 140px;
    overflow: hidden;
    border-radius: 8px;

    @include resp-max("m") {
      min-width: 128px;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 110%;

      @include resp-max("m") {
        height: 120%;
        width: auto;
        max-width: unset;
      }
    }
  }

  &-text {
    padding: 24px;
  }
}