.material {
  &-section {
    margin-bottom: 60px;
  }

  &-grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);

    @include resp-max("l") {
      grid-template-columns: repeat(2, 1fr);
    }

    @include resp-max("m") {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.material-desc {
  &-section {
    background-color: white;

    .container {
      border-bottom: 1px solid $border-grey-color;
      padding: 24px 0 40px;

      @include resp-max("m") {
        padding: 24px 16px;
        border-bottom: 0;
      }
    }

    .h3-heading,
    .text {
      margin-bottom: 24px;
    }

    .text {
      font-size: 14px;
    }
  }
}

.material-shop {
  &-section {
    background-color: white;
  }
}

.filter {
  margin-right: 40px;
  padding: 24px 16px 24px 0;
  border-right: 1px solid $border-grey-color;
  width: 226px;

  @media (max-width: 1366px) {
    width: 169px;
  }

  @include resp-max("m") {
    width: 100%;
    margin-right: 0;
    border: 0;
    overflow: auto;
    height: 90vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    padding: 0 24px 24px;
    margin-top: 120px;

    .button {
      width: 100%;
      margin-top: auto;
      text-align: center;
    }
  }

  @include resp-max("s") {
    height: 85vh;
  }

  &-sort {
    margin: 32px 0;

    .h6-heading {
      margin: 0 0 16px;
      position: relative;

      @include resp-max("m") {
        &:after {
          content: "";
          background-image: url(../img/icons/arrow-dark-down.svg);
          background-size: contain;
          background-repeat: no-repeat;
          width: 14px;
          height: 8px;
          transition: 0.3s;
          display: inline-block;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(0, -50%);
        }
      }
    }

    @include resp-max("m") {
      margin: 8px 0;

      &:first-of-type {
        margin-top: 32px;
      }
    }
  }

  &-mobile {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: none;
    z-index: 2;

    &-main {
      height: 100%;
    }

    &-close {
      width: 56px;
      height: 56px;
      position: absolute;
      left: 24px;
      background-color: $lightgrey-color;
      background-image: url(../img/icons/arrow-dark-down.svg);
      background-repeat: no-repeat;
      background-position: center;
      transform: rotate(90deg);
      border-radius: 8px;
      top: 36px;
    }

    &-opened {
      display: block;
    }
  }
}

.filter-sort-list {
  @include resp-max("m") {
    display: none;
  }
}

.filter-sort-trigger.active {
  @include resp-max("m") {
    &:after {
      transform: rotate(180deg);
    }

    + .filter-sort-list {
      display: inline-block;
    }
  }
}

.filter-open-button {
  display: none;

  @include resp-max("m") {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    flex-grow: 1;
  }

  &:after {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(../img/icons/filter.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
  }
}

.shop {
  padding: 24px 0 0;

  @media (max-width: 1366px) {
    max-width: calc(100vw - 350px);
    flex-grow: 1;
  }

  @include resp-max("m") {
    width: 100%;
    max-width: 100%;
  }

  &-top {
    margin-bottom: 36px;
    display: flex;

    &-filter-tag-container {
      display: flex;
      flex-grow: 1;
      gap: 16px;
      align-items: center;
      flex-wrap: wrap;

      @include resp-max("m") {
        width: 100%;
        flex-wrap: initial;
        overflow: auto;
      }
    }

    &-filter {
      display: flex;
      flex-grow: 1;
      gap: 16px;
      align-items: center;
      max-width: 100%;

      @include resp-max("m") {
        flex-direction: column-reverse;
      }

      &-tag {
        padding: 8px 12px 8px 16px;
        background-color: $lightgrey-color;
        border-radius: 50px;
        font-size: 14px;
        font-weight: 500;
        display: inline-block;

        @include resp-max("m") {
          padding: 4px 12px 4px 16px;
          white-space: nowrap;
        }

        &-close {
          &:before {
            content: "";
            width: 8px;
            height: 8px;
            background-image: url(../img/icons/cart-close.svg);
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
          }
        }

        &-reset {
          margin-left: auto;
          font-size: 16px;
          background-color: white;

          @include resp-max("m") {
            margin-left: 0;
            position: absolute;
            right: 0;
            top: 70px;
          }
        }
      }

      &-sort {
        margin-bottom: 32px;
      }
    }

    &-filter-container {
      display: flex;
      gap: 16px;
      align-items: center;

      @include resp-max("m") {
        width: 100%;

        .filter-open-button,
        .select {
          flex-basis: 50%;
        }
      }
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 33px;

    @include resp-max("l") {
      grid-template-columns: repeat(2, 1fr);

      .product-block {
        margin-bottom: 20px;
      }
    }

    @include resp-max("m") {
      justify-items: center;
      gap: 17px;

      .product-block {
        margin-bottom: 0;
        width: auto;

        &-name {
          font-size: 14px;
          margin-bottom: 0;
        }

        &-desc {
          &-line {
            font-size: 12px;
          }
        }

        &-price {
          &-full {
            font-size: 16px;
          }

          &-old {
            margin-top: 10px;

            .product-block-price-full {
              font-size: 14px;
              text-align: left;
            }
          }
        }

        &-stock {
          font-size: 12px;
        }

        .button-add-cart {
          font-size: 14px;
        }

        &-compare-link {
          margin-top: 16px;
          display: flex;
          align-items: center;
          font-size: 12px;
        }
      }

      .product-block-top {
        height: 155px;

        &-image {
          height: auto;
          width: 100%;
        }
      }
    }

    @media (max-width: 420px) {
      gap: 10px;
      .product-block-text {
        padding: 16px 12px;
      }
      .button-add-cart {
        padding: 8px;
        &:after {
          margin-left: 8px;
        }
      }
    }
  }
}
