.about {
  &-bg {
    background-image: url(../img/about/about-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 375px;

    @include resp-max("m") {
      min-height: 200px;
    }
  }
}

.about-features {
  &-section {
    padding: 40px 0;
  }

  &-block {
    margin-top: 24px;

    @include resp-max("m") {
      flex-direction: column;
    }
  }

  &-item {
    text-align: center;

    @include resp-max("m") {
      +.about-features-item {
        margin-top: 40px;
      }
    }

    &-icon {
      img {
        max-height: 60px;
      }
    }

    &-number {
      font-size: 48px;
      font-weight: 700;
      margin: 24px 0 0;
      font-family: "Jost", sans-serif;

      @include resp-max("m") {
          margin-top: 8px;
      }
    }

    &-text {
      font-size: 18px;
      font-weight: 500;
      margin: 0;
    }
  }
}