// footer start
.info-message {
    display: none;
    padding: 24px;
    position: fixed;
    bottom: 80px;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 3;
    max-width: 1200px;
    margin: auto;
    box-shadow: 0px 0px 16px rgb(0 0 0 / 8%);
    border-radius: 8px;

    @include resp-max("m") {
        width: 90%;
    }

    &-block {
        align-items: center;
        justify-content: space-between;

        @include resp-max("m") {
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
        }
    }

    .h6-heading {
        margin-bottom: 0;
        margin-left: 15px;
    }

    p {
        font-size: 14px;
    }

    &-text p {
        margin: 0;
    }

    .button {
        @include resp-max("l") {
            margin-top: 10px;
            width: 100%;
        }
    }
}

.newsletter-section {
    background-color: $lightgrey-color;
    padding: 40px 0;

    .newsletter-form {
        position: relative;

        @include resp-max("m") {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 24px;
        }
    }

    .button {
        position: absolute;
        right: 0;

        @include resp-max("m") {
            width: 100%;
            position: static;
        }
    }

    .form-text-input {
        width: 480px;

        @include resp-max("m") {
            width: 100%;
            margin-bottom: 24px;
        }
    }
}

.eu-note-section {
    padding: 60px 0;
    background-color: white;

    .eu-note-image {
        margin-top: 40px;
    }

    .text {
        margin: 0;
    }
}

.main-footer {
    background-color: $black-color;
    padding: 80px 0;

    .h6-heading,
    p {
        color: white;
    }

    .logo-image {
        max-width: 166px;
    }

    p {
        margin: 8px 0;
    }

    &-block {
        +.main-footer-block {
            margin: 24px 0;
        }

        a {
            color: white;
            text-decoration: none;
        }
    }

    .arrow-link {
        @include resp-max("l") {
            margin-bottom: 24px;
        }
    }
}

.col {
    .social-links-block {
        margin-top: auto;

        @include resp-max("m") {
            margin: 50px 0 40px;
        }
    }
}

.social-links-link {
    margin-right: 24px;
}

.legal-footer {
    background-color: $lightgrey-color;
    padding: 35px 0;

    .legal-links-block {
        @include resp-max("m") {
            flex-direction: column;
            gap: 12px;
        }
    }

    p,
    .legal-links-link {
        color: $grey-color;
        margin: 0;
    }

    .legal-links-link {
        text-decoration: none;
        margin-left: 16px;


        @include resp-max("l") {
            margin-left: 0;
        }
    }

    .logo-image {
        width: 74px;

        @include resp-max("l") {
            margin: 24px 0;
        }
    }

    @include resp-max("l") {
        @include center-text;
    }
}

// footer end