.container {
  @include resp-max("s") {
    width: 100%;
    padding: 0 15px;
  }

  width: 90%;
  margin: 0 auto;
  max-width: $container-width;

  // Exapmle small size
  &--small {
    max-width: 900px;
  }
}

// general styles start
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

// general styles end

// typography start
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
  color: $black-color;
  text-transform: uppercase;
  transition: 0.3s;

  span {
    font-family: "Jost", sans-serif;
  }
}

.h1-heading {
  font-size: 3rem;
  line-height: 1.16;
  margin: 0 0 24px;
}

.h2-heading {
  font-size: 2.5rem;
  line-height: 1.2;
  margin: 0 0 24px;
}

.h3-heading {
  font-size: 2rem;
  line-height: 1.125;
  margin: 0 0 32px;
}

.h4-heading {
  font-size: 1.5rem;
  line-height: 1.16;
  margin: 0 0 8px;
}

.h5-heading {
  font-size: 1.25rem;
  line-height: 1.2;
  margin: 0 0 16px;
}

.h6-heading {
  font-size: 1rem;
  line-height: 1.25;
  margin: 0 0 8px;
}

.text {
  line-height: 1.4;
  color: $black-color;

  // removing extra space to the bottom
  &:last-of-type {
    margin-bottom: 0;
  }
}

.center-text {
  text-align: center;
}

.red {
  color: $red-color;
}

// typography end

// form start
.form-text-input {
  box-shadow: 0px 0px 16px rgb(0 0 0 / 8%);
  border-radius: 8px;
  font-size: 16px;
  border: 0;
  padding: 15px 16px;
}

// form end

// links and buttons start
.button {
  padding: 14px 32px;
  text-decoration: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  transition: 0.3s;
  display: inline-block;
  border: 1px solid $red-color;
  font-size: 16px;
  cursor: pointer;

  &-red {
    color: $red-color;
    border: 1px solid $red-color;

    &:hover {
      color: $red-color-hover;
    }

    &-fill {
      background-color: $red-color;
      color: white;

      &:hover {
        background-color: $red-color-hover;
      }
    }
  }

  &-black {
    color: $black-color;
    border: 1px solid $black-color;

    &:hover {
      color: $black-color-hover;
    }

    &-fill {
      background-color: $black-color;
      color: white;

      &:hover {
        background-color: $black-color-hover;
      }
    }
  }
}

.arrow-link {
  color: $red-color;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;

  &:after {
    content: "";
    background-image: url(../img/icons/red-right-arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 8px;
    height: 14px;
    display: inline-block;
    margin: 0 0 -1px 6px;
  }
}

// links and buttons end

// header start
.menu-opened {
  // preventing scroll when mobile nav is opened
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.burger-button {
  display: none;
  background: transparent;
  border: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-image: url(../img/icons/burger.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 18px;

  &.close {
    background-image: url(../img/icons/back.svg);
    z-index: 2;
    margin-top: 35px;
  }

  @include resp-max("m") {
    display: inline-block;
  }
}

.select {
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  @include resp-max("m") {
    box-shadow: none;
  }
}

.select .select-btn {
  box-sizing: border-box;
  border-radius: 3px;
  width: 100%;
  cursor: pointer;
  position: relative;
  user-select: none;
  font-weight: 500;

  &:after {
    content: "";
    position: absolute;
    top: 40%;
    right: -15px;
    width: 6px;
    height: 6px;
    transform: translateY(-50%) rotate(45deg);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: 0.3s;

    @include resp-max("m") {
      border-right: 2px solid $black-color;
      border-bottom: 2px solid $black-color;
      right: 0;
    }
  }
}

.select .select-btn.toggle {
  border-radius: 3px 3px 0 0;
}

.select .select-btn.toggle:after {
  -webkit-transform: translateY(-50%) rotate(-135deg);
  transform: translateY(-50%) rotate(-135deg);
}

.select .select-dropdown {
  position: absolute;
  top: 100%;
  width: 110px;
  right: -15px;
  border-radius: 0 0 3px 3px;
  overflow: hidden;
  border-top: 1px solid #eee;
  z-index: 1;
  background: #fff;
  transform: scale(1, 0);
  transform-origin: top center;
  visibility: hidden;
  transition: 0.3s;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;

  @include resp-max("m") {
    width: 100vw;
    right: -15px;
    box-shadow: none;
    border-radius: 0;
    border: 0;
  }
}

.select .select-dropdown .select-option {
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  color: $black-color;
  position: relative;

  @include resp-max("m") {
    padding: 14px 17px 4px;
  }
}

.select .select-dropdown .select-option:hover {
  background: #f8f8f8;
}

.select .select-dropdown.toggle {
  visibility: visible;
  transform: scale(1, 1);
}

[data-type="EN"] + .select-dropdown [data-type="EN"],
[data-type="LV"] + .select-dropdown [data-type="LV"] {
  color: $red-color;

  &:after {
    content: "";
    background-image: url(../img/icons/check-red.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 12px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

// header end
