.container {
  @include resp-max("s") {
    width: 100%;
    padding: 0 15px;
  }

  width: 90%;
  margin: 0 auto;
  max-width: $container-width;

  // Exapmle small size
  &--small {
    max-width: 900px;
  }
}

// general styles start
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: $black-color;
}

body {
  margin: 0;
  background-color: $lightgrey-color;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}
// general styles end