// typography start
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $black-color;
    text-transform: uppercase;
    transition: .3s;

    span {
        font-family: 'Jost', sans-serif;
    }
}

.h1-heading,
.h2-heading,
.h3-heading,
.h4-heading,
.h5-heading,
.h6-heading {
    font-family: 'Jost', sans-serif;
}

.h1-heading {
    font-size: 3rem;
    line-height: 1.16;
    margin: 0 0 24px;

    @include resp-max("m") {
        font-size: 2rem;
    }
}

.h2-heading {
    font-size: 2.5rem;
    line-height: 1.2;
    margin: 0 0 24px;

    @include resp-max("m") {
        font-size: 2rem;
    }
}

.h3-heading {
    font-size: 2rem;
    line-height: 1.125;
    margin: 0 0 32px;

    @include resp-max("m") {
        font-size: 1.5rem;
    }
}

.h4-heading {
    font-size: 1.5rem;
    line-height: 1.16;
    margin: 0 0 8px;
}

.h5-heading {
    font-size: 1.25rem;
    line-height: 1.2;
    margin: 0 0 16px;
}

.h6-heading {
    font-size: 1rem;
    line-height: 1.25;
    margin: 0 0 8px;
}

button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.text {
    line-height: 1.4;
    color: $black-color;

    // removing extra space to the bottom
    &:last-of-type {
        margin-bottom: 0;
    }
}

.center-text {
    text-align: center;
}

.small-text {
    font-size: 0.875rem;
    color: $grey-color;
}

.red {
    color: $red-color;
}

// typography end

// links and buttons start
.button {
    padding: 14px 32px;
    text-decoration: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    transition: .3s;
    display: inline-block;
    border: 1px solid $red-color;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 0.06em;

    &-wide {
        padding-left: 140px;
        padding-right: 140px;

        @include resp-max("m") {
            padding-left: 32px;
            padding-right: 32px;
        }
    }

    &-red {
        color: $red-color;
        border: 1px solid $red-color;

        &:hover {
            color: $red-color-hover;
        }

        &-fill {
            background-color: $red-color;
            color: white;

            &:hover {
                background-color: $red-color-hover;
            }
        }
    }

    &-black {
        color: $black-color;
        border: 1px solid $black-color;

        &:hover {
            color: $red-color;
            border: 1px solid $red-color;
        }

        &-fill {
            background-color: $black-color;
            color: white;
            border: 1px solid $black-color;

            &:hover {
                background-color: $black-color-hover;
            }
        }
    }

    &-add-cart {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 18px 12px 24px;

        &:after {
            content: "";
            background-image: url(../img/icons/cart.svg);
            background-size: contain;
            background-repeat: no-repeat;
            width: 21px;
            height: 19px;
            display: inline-block;
            margin-left: 12px;
        }

        @include resp-max("m") {
            padding: 12px;
        }
    }
}

.arrow-link {
    color: $red-color;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;

    &:after {
        content: "";
        background-image: url(../img/icons/red-right-arrow.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 8px;
        height: 14px;
        display: inline-block;
        margin: 0 0 -1px 6px;
    }

    &-reverse {
        &:before {
            content: "";
            background-image: url(../img/icons/red-right-arrow.svg);
            background-repeat: no-repeat;
            background-size: contain;
            width: 8px;
            height: 14px;
            display: inline-block;
            margin: 0 6px -1px 0;
            transform: rotate(180deg);
        }

        &:after {
            display: none;
        }
    }
}

.breadcrumbs {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 28px 0;
    
    @include resp-max("m") {
        margin: 16px 0;
    }

    &-item {
        a {
            color: $black-color;
            text-decoration: none;
            font-size: 14px;
        }

        &:last-of-type {
            a {
                color: $grey-color;
            }
        }

        +.breadcrumbs-item {
            &:before {
                content: "";
                display: inline-block;
                background-image: url(../img/icons/arrow-breadcrumbs.svg);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                width: 5px;
                height: 8px;
                margin: 0 20px;

                @include resp-max("m") {
                    margin: 0 10px;
                }
            }
        }

        @include resp-max("m") {
            // showing first and last breadcrumb on mobile
            &:not(:first-of-type),
            &:not(:last-of-type) {
                display: none;
            }

            &:last-of-type {
                display: inline-block;

                &:before {
                    transform: rotate(180deg);
                }
            }

            + .breadcrumbs-item:before {
                margin-left: 0;
            }
        }
    }
}

// links and buttons end