// product start
.product-slider {

  .product-slider-button-prev,
  .product-slider-button-next {
    display: none;
    top: auto;
    bottom: 0;

    @include resp-max("l") {
      display: inline-block;
    }

    &:after {
      font-size: 20px;
      color: $black-color;
    }
  }

  .product-slider-button-next {
    text-align: right;
  }

  .swiper-pagination .swiper-pagination-bullet {
    background-color: $black-color;
  }

  .swiper-pagination .swiper-pagination-bullet-active {
    border-color: $black-color;
    background-color: white;
  }

  .product-slider-slide {
    // shadows overlay fix
    display: flex;
    justify-content: center;

    @include resp-max("s") {
      width: 80%;
    }
  }
}

.product-block {
  width: 284px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: white;
  position: relative;
  // shadows overlay fix
  margin-bottom: 10px;

  &:hover {
    .product-block-top-image {
      transform: scale(1.1);
    }

    .product-block-name {
      color: $red-color;
    }
  }

  @include resp-max("l") {
    margin-bottom: 80px;
  }

  &-top {
    position: relative;
    height: 284px;
    border-radius: 8px;
    overflow: hidden;
    display: block;

    &-image {
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      transition: 0.3s;
    }

    &-badge {
      position: absolute;
      top: 16px;
      left: 14px;
      z-index: 1;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      max-width: 200px;

      @include resp-max("s") {
        max-width: 110px;
        top: 8px;
        left: 8px;
      }

      &-item {
        color: white;
        font-size: 14px;
        padding: 6px 16px;
        background-color: $red-color;
        border-radius: 20px;

        @include resp-max("s") {
          padding: 5px 8px;
        }
      }
    }
  }

  &-fav,
  &-remove {
    position: absolute;
    top: 9px;
    right: 12px;
    background: rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(30px);
    border-radius: 2px;
    z-index: 1;
    border: 0;
    padding: 11px 11px 8px;
    cursor: pointer;

    &:before {
      content: "";
      background-image: url(../img/icons/favourite.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 21px;
      height: 19px;
      display: inline-block;
      transition: .3s;
    }

    &:hover,
    &.active {
      &:before {
        background-image: url(../img/icons/favourite-fill.svg);
      }
    }
  }

  &-remove {
    &:before {
      background-image: url(../img/icons/close.svg);
      width: 14px;
      height: 14px;
    }

    &:hover,
    &.active {
      &:before {
        background-image: url(../img/icons/close.svg);
      }
    }
  }

  &-name {
    font-weight: 500;
    font-size: 18px;
    margin: 0 0 12px;
    min-height: 42px;
    display: block;
    text-decoration: none;
  }

  &-desc {
    &-line {
      display: block;
    }
  }

  &-text {
    padding: 20px 16px;
  }

  &-price {
    margin-top: 16px;

    &-full {
      font-size: 24px;
      margin: 0 0 2px;
      font-weight: 700;
      font-family: "Jost", sans-serif;
    }

    &-tax {
      font-size: 12px;
      margin: 0;
    }

    &-old {
      .product-block-price-full {
        font-size: 20px;
      }

      p {
        color: $grey-color;
        text-align: right;
        text-decoration: line-through;
      }
    }
  }

  &-stock {
    font-size: 14px;
    position: relative;
    margin: 16px 0;

    &-in {
      &:before {
        content: "";
        width: 12px;
        height: 12px;
        background-color: #308e89;
        display: inline-block;
        border-radius: 12px;
        margin: 0 10px -1px 0;
      }
    }
  }

  .button {
    width: 100%;
  }

  &-compare-link {
    text-decoration: none;
    display: block;
    margin-top: 20px;

    &:before {
      content: "";
      width: 18px;
      height: 18px;
      background-image: url(../img/icons/arrows-dark.svg);
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      margin: 0 12px -3px 0;
    }
  }
}

// product end