.product {
    &-info {
        &-section {
            background-color: white;
            padding: 24px 0 42px;

            .product-block-price {
                margin: 30px 0;

                &-full {
                    font-size: 32px;
                }

                &-old {
                    .product-block-price-full {
                        font-size: 24px;
                    }
                }
            }

            .button, .button-add-cart {
                width: 100%;
                text-align: center;
            }

            .button-add-cart {
                text-align: left;
            }

            .product-info-shipping {
                align-items: center;
                display: flex;
                margin: 32px 0;

                &-main {
                    margin: 0 8px 0 10px;
                }
            }

            .product-chars {
                background-color: $lightgrey-color;
                padding: 16px;
                margin-bottom: 24px;
            }
        }

        &-link {
            display: flex;
            margin-top: 24px;
            text-decoration: none;

            &-icon {
                margin-right: 10px;
            }
        }
    }

    &-chars {
        display: flex;
        flex-direction: column;
        list-style: none;
        max-width: 384px;
        border-radius: 8px;

        @include resp-max("m") {
            max-width: 100%;
        }

        &-item {
            display: flex;
            margin-bottom: 16px;

            &:last-of-type {
                margin-bottom: 0;
            }

            &-name {
                margin-right: auto;

                a {
                    text-decoration: none;
                }
            }
        }
    }

    &-specs {
        &-section {
            margin: 40px 0;
        }

        &-block {
            background-color: white;
            display: flex;
            border-radius: 8px;

            &-col {
                width: 50%;
                padding: 40px;

                @include resp-max("m") {
                    width: 100%;
                    padding: 24px;
                }

                +.product-specs-block-col {
                    border-left: 1px solid $border-grey-color;

                    @include resp-max("m") {
                        border-top: 1px solid $border-grey-color;
                        border-left: 0;
                    }
                }
            }

            @include resp-max("m") {
                flex-direction: column;
            }
        }

        &-dropdown {
            background-color: white;
            border-radius: 8px;
            margin-top: 24px;

            &-name {
                padding: 22px 31px;
                margin: 0;
                font-size: 18px;
                font-weight: 700;
            }

            .product-chars-item {
                border-top: 1px solid $border-grey-color;
                padding: 24px 31px;
                margin: 0;
            }
        }
    }

    &-form {
        &-section {
            background-color: white;
            padding: 56px 0;
            position: relative;
            overflow: hidden;

            .h4-heading {
                margin-bottom: 40px;
            }

            .order-form {
                display: flex;
                flex-wrap: wrap;
                gap: 24px 16px;
            }
        }

        &-image {
            position: absolute;
            top: 0;
            right: 0;

            @include resp-max("l") {
                display: none;
            }
        }
    }
}

.product-gallery-section {
    margin: 56px 0;
}