.catalog-production {
  &-section {
    padding: 40px 0;
    background-color: white;
    position: relative;
    overflow: hidden;
  }

  &-pictures {
    position: absolute;
    right: 0;
    top: 0;

    @include resp-max("l") {
      position: relative;
      height: 300px;
      width: 100vw;
      overflow: hidden;
      margin: 0 0 40px 0;

      img {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    @include resp-max("s") {
      margin: 0 0 40px -15px;
    }
  }

  &-text {
    .h3-heading {
      margin-bottom: 24px;
    }

    .arrow-link {
      margin-top: 12px;
    }
  }
}